<h2>New Celebrity</h2>
<form method="POST" action="/celebrities/create">

  <input name="name" type="text" />
  <input name="occupation" type="text" />
  <input name="catchPhrase" type="text" />
  <button type="submit">SUBMIT</button>

</form>